@font-face {
	font-family: 'MuseoCyrl'; 
	src: url(../fonts/Museo_Cyrl_500.otf) format('OpenType');
        font-weight: 500; font-style: normal; 
}

@font-face {
	font-family: 'MuseoCyrl'; 
	src: url(../fonts/Museo_Cyrl_700.otf) format('OpenType');
        font-weight: 700; font-style: normal; 
}
@font-face {
	font-family: 'MuseoSansCyrl'; 
	src: url(../fonts/MuseoSansCyrl_500.otf) format('OpenType');
        font-weight: 500; font-style: normal; 
}